#head { padding: 10px; color: white; font-size: 18px; }
#head img { float:left; }

#left { float: left; width: 20%; margin-top: 10px;}

#right { float:left; width: 79%; margind-left: 15px;}

#footer { boder: 3px black solid; background-color: #0000e6;  padding: 10px; text-align: center; height: 100px; color: white;}

body {font-family: verdana, sans-serif; background-color: #ececf9; padding: 15px; margin: 0px 50px 50px 25px;font-size:11.5;}


h1 { font-size: 175%; font-weight: normal; margin-bottom: 5px; color:#262626; font-weight: bold; font-family: Georgia, serif; text-align: center; }
h2 { font-size: 150%; font-weight: normal; margin-top: 20px; margin-bottom: 5px; color:#262626; font-weight: bold; font-family:Georgia, serif; text-align: center; }
h3 { font-size: 120%; font-weight: bold; margin-top: 10px; margin-bottom: 5px; color:#ff6600; font-family: verdana, sans-serif; text-align: center;}

#button_center {text-align: center;}
#button_center .button { float: centerleft; padding: 5px 10px; font-size: 14px; cursor: pointer; text-align: center; margin-top: 10px;
          outline: none; color: #262626; background-color: #FFC300; border: 2px solid #FF8D33; border-radius: 4px; box-shadow: 0 5px #999;}
#button_center .button:hover {background-color: #FF8D33; color:#000000; border: 2px solid #FFC300;}
#button_center .button:active { background-color: #002699; color:#f2f2f2; box-shadow: 0 5px #666; transform: translateY(4px); font-weight: bold;}


p {font-size:12px;}
p.heavy { font-weight: bold; font-size:12px;}
p.italic { font-weight: normal; font-style: italic; font-size:12px;}

ul.a {list-style-type: square;font-size:11.5px; font-family: verdana, sans-serif;}

table { table-layout: fixed;
        width: 70%;
        border-collapse: collapse;
        border: 1.5px solid black;
        font-size: 75%;
        margin-left:auto;
        margin-right:auto;}

thead th:nth-child(1) { width: 40%;}
th, td { padding: 5px; }
table { background-color: #e0ebeb;}
tbody tr:nth-child(odd) { background-color: #85adad;}
tbody tr:nth-child(even) { background-color: #c2d6d6;}
tbody td { text-align: center; }
tfoot th { text-align: right; }
caption {font-family: 'Arial';
         padding: 5px;
         font-style: italic;
         caption-side: bottom;
         color: #1e2f2f;
         text-align: left;}
